<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element">{{dataSource.filteredData.indexOf(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="Densidad">
        <th mat-header-cell *matHeaderCellDef> Densidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Densidad}} </td>
    </ng-container>
        
    <ng-container matColumnDef="Viscosidad">
        <th mat-header-cell *matHeaderCellDef> Viscosidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Viscosidad}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Temperatura">
        <th mat-header-cell *matHeaderCellDef> Temperatura </th>
        <td mat-cell *matCellDef="let element"> {{element.Temperatura}} </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No hay datos el dia de hoy</td>
    </tr>
            
        
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    
<mat-paginator [pageSizeOptions]="[8, 25, 50]" showFirstLastButtons></mat-paginator>