h3{
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.d-sm-flex{
  margin:10px;
}

.card-header {
  padding: 5px;
}
.init-table{
  margin-top: 7px;
}

.header .card-body label{
  color: black;
  font-weight: bolder;
  padding-right: 5px;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
   display: none;
}

.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
}

.card-header{
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.btn{
  background-color: #007bff;
  color: white;
}

