<div class="container-fluid">
    <div>
        <app-contador-datepickers></app-contador-datepickers>
    
        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Registros</h3>
                </div>
               <app-tabla></app-tabla>
            </div>
        </div>

        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Graficos</h3>
                </div>
                <app-graficos></app-graficos>
            </div>
        </div>
    </div>
</div>

 