<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  
  <mat-toolbar color="primary" class="example-toolbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="snav.toggle()"><mat-icon>menu</mat-icon>    
    </button>
    <a routerLink="" class="example-app-name"> CERAMICA COBOCE </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <ul>
          <li><a mat-list-item routerLink="">	<mat-icon>dashboard</mat-icon><br>Dashboard</a></li>
          <li><a mat-list-item routerLink="/contador"><mat-icon>trending_up</mat-icon><br>Contador</a></li>
          <li><a mat-list-item routerLink="/aplicacion-engobe"><mat-icon>view_module</mat-icon><br>Engobe</a></li>
          <li><a mat-list-item routerLink="/aplicacion-esmalte"><mat-icon>view_module</mat-icon><br>Esmalte</a></li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<!--
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  
  <div class="nav-header-content">
     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="snav.toggle()"><mat-icon>menu</mat-icon>    
    </button> 

    <a class="nav-header-content" routerLink="">ceramica coboce </a> 
  
  </div>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                 <ul>
                  <li><a mat-list-item routerLink="">	<mat-icon>dashboard</mat-icon><br>Dashboard</a></li>
                  <li><a mat-list-item routerLink="/contador"><mat-icon>trending_up</mat-icon><br>Contador</a></li>
                  <li><a mat-list-item routerLink="/aplicacion-engobe"><mat-icon>view_module</mat-icon><br>Engobe</a></li>
                  <li><a mat-list-item routerLink="/aplicacion-esmalte"><mat-icon>view_module</mat-icon><br>Esmalte</a></li>
                </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>-->


