<div class="container-fluid">
    <div>
        <app-dtp-engobe></app-dtp-engobe>
    
        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Registros</h3>
                </div>
                <app-tabla-engobe></app-tabla-engobe>
            </div>
        </div>

        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Graficos</h3>
                </div>
                <app-grafica-engobe></app-grafica-engobe>
            </div>
        </div>
    </div>
</div>