<div class="container-fluid">
    <div>
        <app-dtp-esmalte></app-dtp-esmalte>
    
        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Registros</h3>
                </div>
                <app-tabla-esmalte></app-tabla-esmalte>
            </div>
        </div>

        <div class="init-table">
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="text-gray-m">Graficos</h3>
                </div>
                <app-grafica-esmalte></app-grafica-esmalte>
            </div>
        </div>
    </div>
</div>

 