<div class="container-fluid">

    <h3 class="text-gray-m">contador de piezas</h3>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-p-primary text-uppercase mb-1">
                                Salida secadero</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngFor = "let x of contador">
                                <p > {{x.Secadero}} </p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-p-primary text-uppercase mb-1">
                                Entrada horno</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngFor = "let x of contador">
                                {{x.Horno}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Total piezas perdidas
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" *ngFor = "let x of contador">
                                        {{x.Secadero - x.Horno}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-down fa-2x text-p-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold  text-p-success text-uppercase mb-1">
                                Total piezas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngFor = "let x of contador">
                                {{x.Horno}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-pp-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>