.container-fluid{
    margin-top: 10px;
}

.text-xs {
    font-size: 0.9rem;
}
.text-gray-800 {
    color: #6f7075!important;
    font-size: 25px;
    padding-left: 30px;
}

.text-gray-200{
    color: rgb(3, 80, 80)!important;
    cursor: pointer;
    opacity: 0.7;
    text-transform: uppercase;
    text-align: center;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
}

.border-left-success {
    border-left: .35rem solid #1CC88A!important;
}
.border-left-primary {
    border-left: .35rem solid #36B9CC!important;
}

.border-left-info {
    border-left: .35rem solid #e74a3b!important;
}

.d-sm-flex.align-items-center.justify-content-between.mb-4 {
    padding-top: 10px;
    margin-left: 10px;
}

.mb-4 {
    margin-bottom: 1rem!important;
}

h3{
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}