    <div *ngFor = "let x of aplicacion">
        <div *ngIf="x.IdSector == 2">

            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Densidad
                            <div class="text-white-50">{{x.Densidad}}</div>
                        </div>
                    </div>
                    <!--
                        <div class="card border-left-primary shadow h-100">
                            <div class="card-body"> 
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Densidad
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" >
                                            <p > {{x.Densidad}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Temperatura
                            <div class="text-white-50">{{x.Temperatura}}</div>
                        </div>
                    </div>
                </div>
                   <!-- <div class="card border-left-primary shadow h-100">
                        <div class="card-body"> 
                            <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Temperatura
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" >
                                        <p> {{x.Temperatura}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="col-lg-4 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Viscosidad
                            <div class="text-white-50 ">{{x.Viscosidad}}</div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100">
                        <div class="card-body"> 
                            <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Viscosidad
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" >
                                        <p> {{x.Viscosidad}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
           
        </div>
    </div>

