.card-body button{
    border: none;
    border-radius: 10px;
    font-weight: 400;
    background-color: #078f8f;
    color: #fff;
    padding: 10px;
}

h3{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: darkcyan;
}

.mb-4, .my-4 {
    margin-bottom: 0.5rem!important;
}

.card-body {
    padding: 0.5rem;
}

.card-body label{
    font-weight: bolder;
    padding-right: 5px;
}
.d-sm-flex.align-items-center.justify-content-between {
    padding: 10px;
}
